@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

/* ------------------ GENERAL STYLING ------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

header a:hover {
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

.navbar a {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
}

.navbar-header h3 {
	text-decoration: none;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

/* ------------------ HEADER STYLE ------------- */
header {
	margin-top: 45px;
	margin-left: 152px;
}
.header-section {
	background-image: url("/assets/Desktop_Backgrounds_1920x1200_6\ 3\ \(1\).png");
	background-repeat: no-repeat;
	height: 822px;
	width: 1200px;
	margin: auto;
}
.navbar-header {
	display: flex;
	justify-content: space-between;
	max-width: 651px;
}

.navbar-header .humburger-menu {
	display: none;
}

.navbar {
	display: flex;
	justify-content: space-around;
	min-width: 395px;
	height: 22px;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 822px;
}

.hero h1 {
	color: #ffffff;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
}

.hero p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
}

/* ------------------ MAIN SECTION STYLE---------------- */

main .first-section {
	background-color: #eeeeee;
	height: 700px;
	width: 1200px;
	margin: auto;
	transform: translateY(-21px);
}

main h2 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #464547;
}

/* ------------------------Section 1-------------------- */
.first-section {
	display: flex;
}
.first-section .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.first-section .content div {
	display: flex;
	justify-content: space-between;
	width: 900px;
}

.first-section .content div p:nth-child(1) {
	width: 408px;
}

.first-section .content div p:nth-child(2) {
	width: 416px;
}

.first-section .content p:nth-child(3) {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #666666;
	margin-top: 25px;
	margin-bottom: 15px;
}

.first-section .content p:nth-child(1),
.first-section .content p:nth-child(2) {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	margin-bottom: 30px;
}

.first-section button {
	background: #55c2d8;
	border-radius: 18px;
	border: none;
	width: 115px;
	height: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button:hover {
	cursor: pointer;
	background-color: #36a2b8;
}
.first-section button h3 {
	font-family: "Oswald Regular";
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

/* ------------------------Section 2-------------------- */
.second-section {
	background-image: url("/assets/IMG_1334_72dpi_RGB_\ 1.png");
	background-repeat: no-repeat;
	transform: translateY(-21px);
	width: 1200px;
	height: 637px;
}

.second-section .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.second-section h2 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #ffffff;
	margin-top: 50px;
	margin-bottom: 50px;
}

.second-section p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
}

.video-button button {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
	background: #55c2d8;
	border: none;
	margin-bottom: 35px;
}

.video-button span {
	color: #ffffff;
	font-size: 55px;
	border-radius: 2px;
}

.video-button button:hover {
	cursor: pointer;
	background-color: #36a2b8;
}

/* ------------------------Footer-------------------- */

footer {
	background-color: #464547;
	transform: translateY(-21px);
	margin-bottom: -21px;
}

.footer-content {
	display: grid;
	grid-template-columns: minmax(150px, max-content) repeat(7, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 1200px;
	height: 199px;
	padding-top: 39px;
	padding-left: 70px;
}

footer .footer-header {
	display: flex;
	justify-content: space-between;
	width: 128px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.footer-header img {
	align-self: flex-start;
}

footer .footer-address {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

footer .mail {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

footer .copyright {
	grid-column: 6 / 8;
	grid-row: 2 / 3;
	padding-left: 15px;
}

.footer-header h3 {
	text-transform: uppercase;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0.2em;
	color: #ffffff;
}

.footer-text address,
a,
i,
p {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
	.container,
	main,
	footer {
		width: 480px;
	}
	.navbar {
		display: none;
	}

	.header-section {
		background-image: url("/assets/Desktop_Backgrounds_1920x1200_6\ 3\ \(1\).png");
		background-position: center;
		background-repeat: no-repeat;
		width: 480px;
		height: 816px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	.navbar-header .humburger-menu {
		display: block;
		margin-right: 15px;
	}
	.navbar-header .humburger-menu:hover {
		cursor: pointer;
	}
	.navbar-header div {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	header {
		margin-top: 45px;
		margin-left: 15px;
	}

	main h2 {
		width: 355px;
		margin-top: 0px;
		text-align: left;
	}

	main .first-section {
		background-color: #eeeeee;
		height: 990px;
		width: 480px;
		transform: translateY(-21px);
	}

	.first-section .content p:nth-child(3) {
		margin-top: 0;
		text-align: left;
	}

	.first-section .content {
		align-items: flex-start;
		padding-left: 20px;
	}

	.first-section .content div {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 480px;
	}

	.second-section {
		background-image: url("/assets/IMG_1334_72dpi_RGB_\ 1.png");
		background-position: center;
		background-repeat: no-repeat;
		transform: translateY(-21px);
		width: 480px;
		height: 637px;
	}

	footer {
		width: 480px;
		height: 292px;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 480px;
		height: 210px;
		padding: 0;
		margin-top: 40px;
	}
}
